<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c30adbff5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./asset/css/style.css">
    <title>Todo List</title>
</head>

<body>

    <div id="app">
        <div class="appCentrale">
            <div class="addLista">
                <input v-model="nuovaLista" placeholder="Inserisci Prodotto" @keyup.enter="aggiungi">
                <button @click="aggiungi">Aggiungi</button>
            </div>

            <div class="listaSpesa" v-if="listaSpesa.length > 0">

                <div class="lista" v-for="(lista, index) in listaSpesa">
                    <!-- {{lista}}  cambiato in input x modificare e agg metodo-->
                    <input :value="lista" @input="cambiaValore($event.target.value, index)">
                    <i class="fas fa-check-circle" @click="complete(index)"></i>
                    <i class="fas fa-trash-alt" @click="rimuovi(index)"></i>
                </div>

            </div>

            <div class="noLista" v-else>
                <p>Lista Vuota.. Nulla da comprare</p>
            </div>
        </div>

        <div class="appDx">
            <div v-if="carrello.length > 0" class="carrello">
                <h4>CARRELLO</h4>
                <div class="mioCarrello" v-for="(ele, index) in carrello">
                    {{ele}}
                </div>

            </div>
        </div>
        <div class="appSpDX">
            <div v-if="cancellati.length > 0" class="cancellati">
                <h4>Eliminati</h4>
                <div class="ListaCancellati" v-for="(ele, index) in cancellati">
                    {{ele}}
                </div>

            </div>
        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./asset/js/app.js"></script>
</body>

</html>